<div class="mt-8 p-4 sm:p-6 w-full max-w-full sm:max-w-md md:max-w-lg mx-auto bg-white rounded-xl shadow-2xl border border-orange-200 transform hover:scale-105 transition duration-300">
  <h4 class="py-4 text-white text-lg sm:text-xl text-center font-semibold bg-orange-600 rounded-t-xl border-b-2 border-orange-400">
    <i class="fas fa-paw mr-2"></i> Ingresar a DOMIPETS
  </h4>
  <div class="mt-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:ring-2 focus:ring-orange-500 focus:border-orange-500 bg-gray-50 text-gray-900 placeholder-gray-400"
          [class.border-red-500]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
          placeholder="davidpaul@test.com"
          required
        />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 text-sm mt-1">
          Por favor, ingrese una cuenta de email válida.
        </div>
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:ring-2 focus:ring-orange-500 focus:border-orange-500 bg-gray-50 text-gray-900 placeholder-gray-400"
          [class.border-red-500]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          required
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 text-sm mt-1">
          La contraseña debe tener entre 6 y 16 caracteres.
        </div>
      </div>
      <div class="flex justify-between">
        <a href="#" class="text-sm text-orange-600 hover:underline">¿Olvidó su contraseña?</a>
      </div>
      <button
        type="submit"
        [disabled]="loginForm.invalid || isLoading"
        class="w-full bg-orange-600 text-white py-2 px-4 rounded-md hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2 disabled:bg-orange-400 transition duration-200"
        [class.opacity-50]="isLoading"
      >
        <span *ngIf="isLoading" class="spinner"></span>
        <span *ngIf="!isLoading">Ingresar</span>
      </button>
      <p class="mt-4 text-sm text-center text-gray-600">
        ¿No eres miembro? <a [routerLink]="['/register']" class="text-orange-600 hover:underline">Regístrate</a>
      </p>
    </form>
  </div>
</div>