<div class="bg-white p-3 overflow-auto">
  <h3 class="text-md font-semibold text-right flex justify-between md:text-left mb-3">
    <button class="static left-2 flex items-center block md:hidden" (click)="onClose()">
      CERRAR
      <i class="fa-solid fa-xmark text-xl"></i>
    </button>
    <span>
      <i class="fa-solid fa-filter text-gray-700"></i>
      Filtros
    </span>
  </h3>

  <div class="border-y border-gray-300 rounded mb-5">
    <h3 class="text-sm font-semibold uppercase ml-3 py-3">Tipo de Producto</h3>
    <div class="" *ngFor="let category of filterCategories">
      <div class="flex items-center pl-4 rounded dark:border-gray-700">
        <input
          [checked]="category.checked"
          id="category-checked-{{ category.id }}"
          type="checkbox"
          (change)="applyFilter(category.id, 'category')"
          name="bordered-checkbox"
          class="w-5 h-5 accent-gray-700 bg-gray-100 border-gray-300 rounded"
        />
        <label
          for="category-checked-{{ category.id }}"
          class="w-full py-2 ml-2 text-sm font-semibold text-gray-900 dark:text-gray-300"
        >
          {{ category.label }}
        </label>
      </div>
    </div>
  </div>

  <app-pricefilter (priceChange)="onPriceFilter($event)"></app-pricefilter>
</div>