main {
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-container {
   padding-top: 170px; /* Reducido de 200px */
  @media (max-width: 1024px) {
    padding-top: 180px; /* Reducido de 200px */
  }
  @media (max-width: 768px) {
    padding-top: 170px; /* Reducido de 280px */
  }
  @media (max-width: 480px) {
    padding-top: 200px; /* Reducido de 320px */
  }
}