/* src/app/profile/profile.component.scss */
.spinner {
  border: 3 solid transparent;
  border-top: 3 solid #f97316; /* Color naranja para coincidencia con el tema */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}